[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
databases = {extras = ["postgresql"], version = "*"}
sqlalchemy = "*"
psycopg2 = "*"
uvicorn = "*"
pydantic = "*"
typing = "*"
fastapi = "*"
jinja2 = "*"

[requires]
python_version = "3.9"
